body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.game-table {
    background-color: rgb(0, 131, 0);
    width: 100%;
    height: 1200px;
    text-align: center;
}

.container {
    background-image: url(https://f.vividscreen.info/soft/345755c8657d20c6a7409c73936f0954/Play-blackjack-in-Casino-1280x1024.jpg);
    background-size: cover;
    width: 100%;
    height: 1200px;
    text-align: center;
}

.title {
    color: white;
    padding-top: 180px;
    font-size: 75px;
    margin: 0;
}

.title-btn {
    width: 200px;
    margin-top: 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
}

.row {
    width: 500px;
    height: 100px;
    text-align: center;
}

.score-row {
    width: 500px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
}

.dealers-hand {
    background-color: rgb(255, 220, 133);
    height: 75px;
}

.dealers-cards {
    background-color: rgb(255, 235, 185);
    height: 200px;
}

.players-hand {
    background-color: rgb(255, 220, 133);
    height: 75px;
}

.players-cards {
    background-color: rgb(255, 235, 185);
    height: 200px;
}

.game-table {
    display: flex;
    justify-content: space-around;
}

.game-controls {
    margin-top: 190px;
}

.game-controls button {
    background-color: green;
    border: 4px solid white;
    color: white;
    transition: 0.5s;
    width: 150px;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
}

.game-controls button:hover {
    background-color: white;
    border: 2px solid green;
    color: white;
}

.display div {
    width: 950px;
    font-size: 20px;
    text-align: center;
}

.hidden-btn {
    display: none;
}

#hit-btn {
    background-color: rgb(0, 38, 255);
}

#stand-btn {
    background-color: red;
}

#reset-btn {
    background-color: rgb(202, 174, 13);
}

.help-section {
    background-image: url(https://media.istockphoto.com/vectors/poker-table-background-in-green-color-vector-id1218355494?k=20&m=1218355494&s=612x612&w=0&h=7izk2bQU_LDnKLLLbwAolAo4kwUmcwr_mo8_Vr7955w=);
    height: 1000px;
    width: 100%;
    background-size: cover;
    color: rgb(218, 170, 49);
    padding-top: 40px;
    text-align: center;
    font-size: 1.75rem;
}

.help-section ul {
    list-style: none;
}

.help-section li {
    padding-top: 10px;
}