.container {
    background-color: rgb(0, 131, 0);
    width: 1000px;
    height: 1000px;
    text-align: center;
}

.title {
    color: white;
    padding-top: 130px;
    font-size: 60px;
}

.title-img {
    width: 250px;
}

button {
    width: 200px;
}

.title-img-div {
    display: flex;
    margin-top: 30px;
    padding-left: 270px;
}

.title-img-1 {
    transform: rotateX(145deg)
}